Takes the current top 500 players (elements) by total points, sorts by points, and saves them as a csv

Update weekly

In [1]:
import pandas as pd 
import numpy as np
import requests

In [2]:
# get the data_static dictionary
url_static = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r_static = requests.get(url_static)
data_static = r_static.json()
elements = data_static['elements']
df = pd.DataFrame(elements)
df = df.set_index('id')

In [3]:
df = df.drop(486) #cedric transfer to arsenal somehow gave him extra game, screws up everything. so we remove him!

In [4]:
top500 = df.sort_values(by='total_points', ascending=False).iloc[:450,:]
top500 = top500.rename_axis('id_')
top500.to_csv('top500.csv')

In [5]:
teams = pd.DataFrame(data_static['teams'])
teams.to_csv('teams')

In [6]:
top500.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat,ict_index,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type
id_,,,,,,,,,,,,,,,,,,,,,
191,100.0,100.0,118748,0,0,2,-2,6,3,0.0,...,1618.0,308.9,3,2,17,14,1,1,2,2
215,100.0,100.0,61366,0,0,11,-11,6,3,0.0,...,745.0,316.0,1,1,1,1,28,12,1,1
192,100.0,100.0,110979,0,0,10,-10,7,3,0.0,...,970.0,234.4,7,3,23,19,15,4,8,5
166,100.0,100.0,101668,0,0,7,-7,7,4,0.0,...,958.0,199.7,5,1,139,23,18,14,18,7
182,100.0,100.0,169187,0,0,8,-8,6,2,0.0,...,353.0,234.5,4,1,3,1,82,8,7,1